API_STR=""
SQLALCHEMY_DATABASE_DEV_URL=""
SQLALCHEMY_DATABASE_STAG_URL=""
SQLALCHEMY_DATABASE_PROD_URL=""
SQLALCHEMY_POOL_SIZE=
SQLALCHEMY_MAX_OVERFLOW=
SQLALCHEMY_FUTURE=
MONGODB_DATABASE_URL=""
SECRET_KEY=""
PROJECT_NAME=""
MONGODB_DB_NAME=""
REDIS_DEV_HOST=""
REDIS_DEV_PORT=""
REDIS_DEV_PASSWORD=""
REDIS_DEV_DB=""
REDIS_DB=
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""