API_STR=
FASTAPI_ENV=
PORT=
TRUST_X_FORWARDED_FOR=T

SQLALCHEMY_DATABASE_DEV_URL=
SQLALCHEMY_DATABASE_STAG_URL=
SQLALCHEMY_DATABASE_PROD_URL=
SQLALCHEMY_POOL_SIZE=
SQLALCHEMY_MAX_OVERFLOW=
SQLALCHEMY_FUTURE=
SQLALCHEMY_ECHO=
MONGODB_DATABASE_URL=
REDIS_URL=
SECRET_KEY=
PROJECT_NAME=
MONGODB_DB_NAME=
ALGORITHM=

#Emails
RESEND_API_KEY=
RESEND_EMAIL=
SMTP_TLS=
SMTP_SSL=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=
EMAIL_VERIFICATION_EXPIRE_MINUTES=
PROJECT_EMAIL=

#cloudinary
CLOUDINARY_NAME=""
CLOUDINARY_KEY=""
CLOUDINARY_SECRET=""

#Order
RESERVATION_TTL=

#Payment Gateway
PAYSTACK_API_KEY=