aiosmtplib==5.1.1
alembic==1.18.4
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
APScheduler==3.11.2
asyncpg==0.31.0
bandit==1.9.4
beanie==1.30.0
billiard==4.2.4
black==26.5.1
blinker==1.9.0
boolean.py==5.0
CacheControl==0.14.4
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.2
cryptography==49.0.0
cyclonedx-python-lib==11.7.0
decorator==5.3.1
defusedxml==0.7.1
detect-installer==0.1.0
dictdiffer==0.9.0
distlib==0.4.0
dkimpy==1.1.8
dnspython==2.8.0
docopt-ng==0.9.0
email-validator==2.3.0
emails==1.1.2
fastapi==0.139.0
fastapi-cli==0.0.24
fastapi-cloud-cli==0.18.0
fastapi-mail==1.6.5
fastar==0.11.0
filelock==3.29.0
greenlet==3.5.1
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
identify==2.6.19
idna==3.17
iniconfig==2.3.0
Jinja2==3.1.6
jsonpath-rw==1.4.0
kombu==5.6.2
lazy-model==0.2.0
license-expression==30.4.4
Mako==1.3.12
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mongoengine==0.29.3
mongoengine-migrate==0.0.3
motor==3.7.1
msgpack==1.2.1
mypy_extensions==1.1.0
nodeenv==1.10.0
packageurl-python==0.17.6
packaging==26.2
passlib==1.7.4
pathspec==1.1.1
paystack==1.5.0
paystackapi==2.1.3
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
pip_upgrader==2.4.5
pipdeptree==3.1.1
platformdirs==4.10.0
pluggy==1.6.0
ply==3.11
pre_commit==4.6.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
puremagic==2.2.0
py-serializable==2.1.0
pycparser==3.0
pydantic==2.13.4
pydantic-extra-types==2.11.1
pydantic-settings==2.14.2
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
pymongo==4.11.3
pyparsing==3.3.2
pytest==9.0.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-discovery==1.4.4
python-dotenv==1.2.2
python-multipart==0.0.31
pytokens==0.4.1
PyYAML==6.0.3
qstash==3.4.0
questionary==2.1.1
redis==8.0.0
regex==2026.5.9
requests==2.34.2
resend==2.30.1
rich==15.0.0
rich-toolkit==0.19.10
rignore==0.7.6
ruff==0.15.15
sentry-sdk==2.61.0
shellingham==1.5.4
simplejson==4.1.1
six==1.17.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.50
starlette==1.3.1
stevedore==5.8.0
tomli==2.4.1
tomli_w==1.2.0
typer==0.26.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
uv==0.11.15
uvicorn==0.48.0
uvloop==0.22.1
vine==5.1.0
virtualenv==21.6.1
watchfiles==1.2.0
wcwidth==0.7.0
websockets==16.0
wrapt==2.2.1
